/* style for tooltip */

.tooltip-box{
	position: relative;
}
.tooltip-outer{
	/*border: 1px solid #333;*/
	visibility: hidden;
	opacity: 0;
	position: absolute;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2),
	    							-1px 0 2px rgba(0,0,0,.15),
	    							1px 0 2px rgba(0,0,0,.15);
  box-shadow: 0 5px 10px rgba(0,0,0,.2),
  						-1px 0 2px rgba(0,0,0,.15),
  						1px 0 2px rgba(0,0,0,.15);
  --webkit-pointer-events: none;
  pointer-events: none;
	-webkit-transition: visibility .3s ease,opacity .3s ease,z-index .3s ease;
	transition: visibility .3s ease,opacity .3s ease,z-index .3s ease;
	z-index: -1;
}
.tooltip-box:hover>.tooltip-outer{
	visibility: visible;
	opacity: 1;
	z-index: 1071;
}
.tooltip-outer.show{
	visibility: visible;
	opacity: 1;
	z-index: 1071;
}
.tooltip-outer.top{
	border-bottom-left-radius: 0;
	bottom: calc(100% + 10px);
  left: 0;
  border-bottom: 2px solid #333;    	
}
.tooltip-outer.bottom{
	border-top-left-radius: 0;
	top: calc(100% + 10px);
  left: 0;
  border-top: 2px solid #333;    	
}
.tooltip-outer.left{
	border-top-right-radius: 0;
	top: 0;
  right: calc(100% + 12px);
  border-right: 2px solid #333;    	
}
.tooltip-outer.right{
	border-top-left-radius: 0;
	top: 0;
  left: calc(100% + 12px);
  border-left: 2px solid #333;
}

.tooltip-outer::before{
	content: '';
	border-color: transparent;
  border-style: solid;
	display: block;
	position: absolute;
	width: 0;
	height: 0;
}
.tooltip-outer.top::before{
	border-width: 0 10px 8px;
  border-left-color: #333;
  top: 100%;
  left: 0;
}
.tooltip-outer.bottom::before{
	border-width: 0px 10px 8px 0px;
	border-bottom-color: #333;
	bottom: 100%;
	left: 0;
}
.tooltip-outer.left::before{
	border-width: 0 10px 10px;
	border-left-color: #333;
	top: -1px;
	left: 100%;
}
.tooltip-outer.right::before{
	border-width: 0 10px 10px 0;
	border-right-color: #333;
	top: -1px;
	right: 100%;
}	
.tooltip-outer>.tooltip-content{
	background-color: #fff;
	color: #000;
	padding: .5rem 1rem;
	position: relative;
}

/* style for alert */

.alert-box{
	/*display: none;*/
	cursor: initial;
	position: fixed;
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  visibility: hidden;
  text-align: left;
  --webkit-pointer-events: none;
  pointer-events: none;
  -webkit-transition: visibility .2s ease .2s;
  transition: visibility .2s ease .2s;
  white-space: initial;
  z-index: 9999;
}
.alert-box>.layer{
  background: rgba(0,0,0,.35);
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: opacity .4s ease .2s;
	transition: opacity .4s ease .2s;
}
.alert-box.show-up{
	visibility: visible;
	--webkit-pointer-events: initial;
  pointer-events: initial;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.alert-box.show-up>.layer{
	opacity: 1;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.alert-box>.alert-content{
	background: #fff;
	margin: 0 auto;
	margin-top: 12rem;
	width: 50%;
	min-width: 160px;
	opacity: 0;
  position: relative;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .45);
  box-shadow: 0 3px 12px rgba(0, 0, 0, .45);
  -webkit-transition: -webkit-transform .4s cubic-bezier(0.53, 0.36, 0.07, 1.1),opacity .25s ease-out;
  transition: transform .4s cubic-bezier(0.53, 0.36, 0.07, 1.1),opacity .25s ease-out;
  -webkit-transform:scaleY(0);
  transform: scaleY(0);
}
.alert-box.show-up>.alert-content{
	opacity: 1;
	-webkit-transform: scaleY(1);
  transform: scaleY(1);
}/* 
.alert-box.end-status>.alert-content{
	opacity: 0;
	-webkit-transform: translate3d(0,0,0) rotateX(0deg);
  transform: scaleY(0);
} */
.alert-content>.alert-title{
	background-color: #2a6496;
	padding: 1rem;
	position: relative;
}
.alert-title>h1{
  color: #fff;
  font-size: 2.4rem;
	margin: 0;
}
.alert-title>i{
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
	margin: 0;
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	right: 1rem;
}
.alert-title>i:active{
  color: lightcoral;
}
.alert-content>.alert-body{
	max-height: 450px;
	overflow: auto;
  padding: 10px;
}
.alert-content>.alert-body::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}
.alert-content>.alert-body::-webkit-scrollbar-thumb{
	background-color: #ddd;
}
.alert-content>.alert-bar{
	padding: 1rem;
	text-align: right;
	word-spacing: 1rem;
}

/*style for switch*/

.switch-container{	
	display: inline-block;
}
.switch-box{
	background-color: #425463;
	-webkit-border-radius: 1.875em;
	border-radius: 1.875em;
	font-size: 16px;
	vertical-align: middle;
	width: 7.5em;
	height: 3.75em;
	-webkit-transition: background-color .4s cubic-bezier(0.4, 0, 1, 1);
	transition: background-color .4s cubic-bezier(0.4, 0, 1, 1);
	-webkit-user-select: none;
	user-select: none;
}
.switcher{
	background-color: #337ab7;
	border: 1px solid #425463;
	-webkit-border-radius: 50%;	
	border-radius: 50%;	
	color: #fff;
	width: 50%;
	height: 100%;
	text-align: center;
	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: background-color .4s cubic-bezier(0.47, 0, 0.75, 0.72),color .4s ease,-webkit-transform .4s cubic-bezier(0.39, 0.58, 0.57, 1);
	transition: background-color .4s cubic-bezier(0.47, 0, 0.75, 0.72),color .4s ease,transform .4s cubic-bezier(0.39, 0.58, 0.57, 1);
}
.square{
	-webkit-border-radius: 2px;	
	border-radius: 2px;
}
.switch-box.on{
	background-color: #337ab7;
}
.switch-box.on>.switcher{
	background-color: #fff;
	border-color: #337ab7;
	color: #000;
	-webkit-box-shadow: -2px 3px 5px rgba(0,0,0,.2);
	box-shadow: -2px 3px 5px rgba(0,0,0,.2);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}
.switcher>span{
	display: block;
	margin-top: 1.1em;	
}
.switch-box.disabled{
	background-color: #989da0 !important;
	--webkit-pointer-events: none !important;
	pointer-events: none !important;
}
.switch-box.disabled>.switcher{
	background: #fff !important;
  border-color: #989da0 !important;
  color: rgba(0, 0, 0, .74) !important;
}

/*loader*/
.canvas {
  background-color: rgba(0, 0, 0, .7);
  cursor: not-allowed;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  /*border-radius: 50%;*/
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: rotateX(-1deg);
  transform: rotate(-1deg);
  -webkit-animation: downRight .4s ease forwards;
  animation: downRight .4s ease-out forwards;
  z-index: 9990;
}

@-webkit-keyframes downRight{
  to{
  	opacity: 1;
    -webkit-transform: rotate(0deg);
  }
}

@keyframes downRight{
  to{
  	/*border-radius: 0;*/
  	opacity: 1;
    transform: rotate(0deg);
  }
}

input.invalid{
	border-color: #f96666;
  outline: 0;
  -webkit-box-shadow: 0 0 8px rgba(245, 100, 100, .6);;
  box-shadow: 0 0 8px rgba(245, 100, 100, .6);;
}





}

@media (max-width: 768px){
  .alert-box>.alert-content {
    width : 90%;
    margin-top: 4rem;
  }
  .alert-content>.alert-body{
    max-height: 350px;
  }  
  .form-control{
    font-size: 12px;
  }
  .switch-box{
    font-size: 1rem;
  }
}